
  <div class="container-sidebar">
    <div class="sidebar expanded">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">CodingLab</span>
      </div>
      <ul class="nav-links">

        <li>
          <a routerLink="citas" >
            <i class='bx bx-calendar-check' style='color:#ffffff' ></i>   
           <span class="link_name" >Agenda de Citas</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" routerLink="citas" >Agenda de Citas</a></li>
          </ul>
        </li>

        <li>
          <a routerLink="especialistas" >
            <i class='bx bx-plus-medical'></i>
            <span class="link_name" >Especialistas</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" routerLink="especialistas" >Especialistas</a></li>
          </ul>
        </li>

        <li>
          <a routerLink="pacientes" >
            <i class='bx bxs-user-detail' style='color:#ffffff' ></i>
            <span class="link_name" >Pacientes</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" routerLink="pacientes" >Pacientes</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a>
              <i class='bx bx-briefcase-alt-2'></i>
              <span class="link_name">Mantenimiento</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a>Mantenimiento</a></li>
            <li><a routerLink="clientes" >Clientes</a></li>
            <li><a href="#">Proveedores</a></li>
            <li><a href="#">Categoías</a></li>
            <li><a href="#">Productos</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a>
              <i class='bx bx-file'></i>
              <span class="link_name">Podólogos</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name">Podólogos</a></li>
            <li><a routerLink="nueva-atencion" >Nueva atención</a></li>
            <li><a routerLink="atenciones" >Atenciones</a></li>
          </ul>
        </li>

        <li>
          <a routerLink="usuarios" >
            <i class='bx bxs-user-plus' style='color:#ffffff' ></i>
            <span class="link_name">Usuarios</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" routerLink="usuarios" >Usuarios</a></li>
          </ul>
        </li>

        

        
    </ul>
    </div>
  </div>



