<div class="wrapper">



    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">


            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="javascript: void(0);">Caminando</a>
                                    </li>
                                    <li class="breadcrumb-item active">Atenciones</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Nueva atención</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

            </div>
            <!-- container -->


            <div class="row" id="main-vuejs">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <form [formGroup]="formularioAtenciones">
                                    <div class="col-xl-12 col-lg-12">
                                        <h6 class="font-18 mt-3">Local de atención</h6>
                                        <div class="mb-3">
                                            <div class="form-check form-check-inline"
                                                *ngFor="let local of locales; let i = index">
                                                <input type="radio" id="local{{i}}" name="customRadio1"
                                                    class="form-check-input" [value]="local.id"
                                                    (change)="onLocalChange($event)">
                                                <label class="form-check-label" [for]="'local' + i">
                                                    {{ local.nombre }} <!-- Muestra el nombre del local -->
                                                </label>
                                            </div>
                                        </div>
                                    </div>





                                    <div class="row g-2">

                                        <mat-form-field appearance="outline" fxFlex="50%">
                                            <mat-label>Especialista</mat-label>
                                            <input type="text" placeholder="Escriba el nombre del Especialista" matInput
                                                formControlName="especialistaControl"
                                                [matAutocomplete]="autoEspecialista"
                                                (input)="filterEspecialistas($event)">

                                            <mat-autocomplete #autoEspecialista="matAutocomplete">
                                                <mat-option *ngFor="let nombre of filteredEspecialistas"
                                                    [value]="nombre">
                                                    {{ nombre }}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50%">
                                            <mat-label>Paciente</mat-label>
                                            <input type="text" placeholder="Escriba el nombre del Paciente" matInput
                                                formControlName="pacienteControl" [matAutocomplete]="autoPaciente"
                                                (input)="filterPacientes($event)">

                                            <mat-autocomplete #autoPaciente="matAutocomplete">
                                                <mat-option *ngFor="let nombre of filterPacientesList" [value]="nombre">
                                                    {{ nombre }}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50%">
                                            <mat-label>Procedimiento</mat-label>
                                            <input type="text" placeholder="Escriba el nombre del Procedimiento"
                                                matInput formControlName="procedimientoControl"
                                                [matAutocomplete]="autoProcedimiento"
                                                (input)="filterProcedimientos($event)" />

                                            <mat-autocomplete #autoProcedimiento="matAutocomplete">
                                                <mat-option *ngFor="let nombre of filteredProcedimientosList"
                                                    [value]="nombre"
                                                    (onSelectionChange)="seleccionarProcedimiento(nombre)">
                                                    {{ nombre }}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>

                                        <div class="mb-2 col-xl-3 col-lg-3 col-md-3 col-sm-8 col-xs-8">
                                            <input type="number" id="precio" formControlName="precio"
                                                class="form-control" placeholder="Precio"
                                                style="text-transform: uppercase;" [value]="precioSeleccionado || ''"
                                                readonly />
                                        </div>

                                        <div class="mb-2 col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4">
                                            <button type="submit" class="btn btn-dark agregar" 
                                                [disabled]="formularioAtenciones.invalid">
                                                <span class="mdi mdi-plus"></span>
                                            </button>
                                        </div>

                                    </div>



                                    <table class="table table-centered mb-0" id="detalle">
                                        <thead>
                                            <tr>
                                                <th>Procedimiento</th>
                                                <th>Costo S/.</th>
                                                <th>Quitar</th>
                                              </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let registro of atenciones; let i = index">
                                                <td>{{ registro.procedimiento }}</td>
                                                <td>{{ registro.precio }}</td>
                                                <td><button (click)="quitarRegistro(i)">Quitar</button></td>
                                              </tr>
                                        </tbody>
                                    </table>

                                    <br><br>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                    <button type="reset" class="btn btn-warning">Limpiar</button>

                                </form>
                            </div>
                            <!-- end row -->


                        </div>
                        <!-- end card-body-->
                    </div>
                    <!-- end card-->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->



        </div>
    </div>



</div>
<!-- END wrapper -->